<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="app.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Animals App</h1>

    <a href="/animals/new">Add a new Animal</a>

    <% for(let i = 0; i < allAnimals.length; i++){%>
        <h1><a href="/animals/<%= allAnimals[i]._id %>"><%= allAnimals[i].name %></a> </h1>
    <% };%>

    
</body>
</html>